[Desktop Entry]
Name=WARP
Comment=Cloudflare WARP Widget

Icon=newsflash
Type=Service
X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

X-KDE-PluginInfo-Author=Chandu J S
X-KDE-PluginInfo-Email=chandujs@live.com
X-KDE-PluginInfo-Website=https://github.com/ctrleffive/cloudflare-warp-kde-widget

X-KDE-PluginInfo-Version=1
X-KDE-PluginInfo-Name=org.kde.cloudflareWarpWidget
X-KDE-PluginInfo-Category=Online Services
